<!-- <img ng-src="https://placekitten.com/{{characterSelectController.character.id * 100}}/100
" class=""></a>


<div class='panel panel-default'>
  <div class="panel-heading">
    <button ng-click="characterSelectController.show = !characterSelectController.show"></button>
    Make {{characterSelectController.heading}} Your Chosen Warrior
  </div>
  <div class="panel-body" ng-if="characterSelectController.show">
    <div ng-transclude></div>
    Task Complete!
  </div>
</div> -->
<!-- nodfdf
sd
fdsf
sdf -->

<!--
<div ng-repeat="character in $ctrl.characterList">
  <expando heading="{{character.first_name | uppercase}}" character="{{character}}">
    <character-selector heading="{{character.first_name | uppercase}}" character="character">
    </character-selector>
</expando> -->
<!-- <div ng-repeat="character in $ctrl.currentCharacterList">
dfdfdf
</div> -->
{{$ctrl.loggedInUser}}
<hr>
<div>Playing As:</div>
<div> {{$ctrl.characterSelected.characterSelected.name}} </div>
<!-- <div> {{$ctrl.characterSelected}} </div> -->
<div> {{$ctrl.characterSelected}} </div>


<div>Playing Against:</div>
<div> {{ $ctrl.characterSelectedVs.characterSelectedVs.name }} </div>
<div> {{$ctrl.characterSelectedVs}} </div>



<!-- {{$ctrl.loggedInUser.data}} -->

<!-- $ctrl.loggedInUser.data.id -->
<!-- {{$ctrl.loggedInUser.data.id}} -->

<hr>




<!-- <div class="container-fluid" ng-if=""> -->

<!-- </div> -->


<!-- <button ng-click="$ctrl.createMatch( $ctrl.characterSelected , $ctrl.characterSelectedVs, $ctrl.loggedInUser.data.id )">Set match</button> -->

<!-- <h2> {{$ctrl.currentMatch}} </h2> -->
<div class="container-fluid" ng-if="$ctrl.characterSelected.characterSelected.id || $ctrl.characterSelectedVs.characterSelectedVs.id">

<h2> {{$ctrl.characterSelected.characterSelected.name + " Vs " + $ctrl.characterSelectedVs.characterSelectedVs.name}} </h2>

</div>

<!-- {{$ctrl.createdMatch}} -->


<!-- <div class="container-fluid" ng-if="$ctrl.characterSelected.characterSelected.id && $ctrl.characterSelectedVs.characterSelectedVs.id">
  <ul test-id="matchlist" ng-repeat="match in $ctrl.matchList | filter: { playing_as: $ctrl.characterSelected.characterSelected.id , playing_against: $ctrl.characterSelectedVs.characterSelectedVs.id }| orderBy: 'name' ">
    <li>{{match}}</li>
    <button ng-click="$ctrl.matchDisplayLink(match)">Continue to Match Display</button>
  </ul>
</div>
 -->




<div class="container-fluid" ng-if="$ctrl.characterSelected.characterSelected.id && $ctrl.characterSelectedVs.characterSelectedVs.id">
  <ul>
    <li ng-repeat="match in $ctrl.matchList | filter: { playing_as: $ctrl.characterSelected.characterSelected.id , playing_against: $ctrl.characterSelectedVs.characterSelectedVs.id }| orderBy: 'name' ">
      {{match}}
      <button ng-click="$ctrl.matchDisplayLink(match)">Continue to Match Display
      </button>
    </li>
    <li class="no-items">This match has never been noted before!
     <button ng-click="$ctrl.createMatch( $ctrl.characterSelected , $ctrl.characterSelectedVs, $ctrl.loggedInUser.data.id )">Set match
     </button>
   </li>
  </ul>
</div>


<!--
<ul>
     <li data-ng-repeat="item in values | filter:filterIds()"> <code>#{{item.id}}</code> Item</li>
     <li class="no-items">There are no matching items.</li>
 </ul>
 -->




<!-- </div> -->






<!-- <button ng-click="$ctrl.setCharacter( $ctrl.currentCharacterList )">Set character</button> -->
