<!-- <img ng-src="https://placekitten.com/{{characterSelectController.character.id * 100}}/100
" class=""></a>


<div class='panel panel-default'>
  <div class="panel-heading">
    <button ng-click="characterSelectController.show = !characterSelectController.show"></button>
    Make {{characterSelectController.heading}} Your Chosen Warrior
  </div>
  <div class="panel-body" ng-if="characterSelectController.show">
    <div ng-transclude></div>
    Task Complete!
  </div>
</div> -->
<!-- nodfdf
sd
fdsf
sdf -->

<!--
<div ng-repeat="character in $ctrl.characterList">
  <expando heading="{{character.first_name | uppercase}}" character="{{character}}">
    <character-selector heading="{{character.first_name | uppercase}}" character="character">
    </character-selector>
</expando> -->
<!-- <div ng-repeat="character in $ctrl.currentCharacterList">
dfdfdf
</div> -->

<div>Character 1:</div>
<!-- {{$ctrl.currentCharacterList[0]}} -->
<h2> {{$ctrl.characterSelected}} </h2>


<div>Character 2:</div>
<!-- {{$ctrl.currentCharacterList[1]}} -->

<!-- {{$ctrl.currentCharacterList[0]}} -->

<!-- {{$ctrl.currentCharacterService}} -->

<h2> {{$ctrl.characterSelectedVs}} </h2>



<hr>
<button ng-click="$ctrl.createMatch( $ctrl.characterSelected , $ctrl.characterSelectedVs )">Set match</button>

<h2> {{$ctrl.currentMatch}} </h2>


<h2> {{$ctrl.characterSelected.characterSelected.id + "and " + $ctrl.characterSelectedVs.characterSelectedVs.id}} </h2>

<!-- <button ng-click="$ctrl.setCharacter( $ctrl.currentCharacterList )">Set character</button> -->
