{{ mc.loggedInUser.data.id}}
{{ mc.loggedInUser.data}}
{{ mc.currentMatch}}



{{mc.matchNotes.matchNotes}}
<!-- {{ mc.createdMatch}} -->
<!-- {{ mc.matchData}} -->
<!-- {{ mc.currentMatch}} -->


{{ mc.currentMatch.id}}
{{ mc.currentMatch}}

<hr>
{{ mc.latestNote}}
<hr>
<!-- mc.currentMatch -->


<!--
<form class="form-inline">
  <input ng-model="playing_as_query" type="text"
    placeholder="Filter by" autofocus>

    <input ng-model="playing_against_query" type="text"
      placeholder="Filter by" autofocus>

</form> -->
<ul ng-repeat="note in mc.matchNotes.matchNotes | filter: { match_id: mc.currentMatch.id}| orderBy: 'order' ">
  <li>{{note}}</li>
</ul>
</div>
<!-- <ul ng-repeat="note in mc.matchNotes | filter: { playing_as: playing_as_query, playing_against: playing_against_query, user_id: mc.loggedInUser.data.id }| orderBy: 'name' "> -->



<new-note></new-note>
