
<div class="container-fluid" ng-if='fc.latestNote.data == nil'>

  <form name="fc.userForm" novalidate>

    <div>
      Email:
      <input name="uEmail" type="email" ng-model="fc.email" required ng-minlength="5" ng-maxlength="20">
      <div ng-show="(fc.userForm.$submitted || fc.userForm.uEmail.$touched)">
        <div ng-messages="fc.userForm.uEmail.$error" style="color:maroon" role="alert">
          <!-- Only one message is displayed, order matters -->
          <div ng-message="required">Please enter an email.</div>
          <div ng-message="email">Please enter a valid email address.</div>
          <div ng-message="minlength">Your email is too short.</div>
          <div ng-message="maxlength">Your email is too long</div>
        </div>
      </div>
    </div>
    <div>
      Password:
      <input name="uPassword" type="password" ng-model="fc.password" required>
      <div style="color: red" ng-show="fc.userForm.uPassword.$touched && fc.userForm.uPassword.$error.required">
        Please enter a password.
      </div>
    </div>

    <button class="btn btn-primary" ng-disabled="fc.userForm.$invalid" type="submit" ng-click="fc.submit(fc.userForm)">Submit</button>

    <div class="container-fluid" ng-if="fc.userForm.$submitted && fc.latestNote.data == nil">
      something wasn't correct. Try Again.
    </div>


  </form>
  <!-- <pre ng-bind="fc.userForm | json"></pre> -->
</div>



<div class="container-fluid" ng-if='fc.latestNote.data != nil'>
<center>
    Success!
    {{ fc.latestNote.data.id}}

    <button ng-click="fc.dashboardLink()">Continue to Welcome</button>


  </h3>
</center>
</div>
