



<!-- <div ng-repeat="character in $ctrl.characterList">
  <expando heading="{{character.name | uppercase}}" character="{{character}}">
    <character-selector heading="{{character.name | uppercase}}" character="character">
    </character-selector>
</expando>
</div> -->




<!-- <div ng-controller="ExampleController"> -->
  <form name="PlayingAs">
    <label for="playingAsSelect"> Playing As Select: </label>
    <select name="playingAsSelect" id="playingAsSelect" ng-model="data.playingAsSelect" ng-change="$ctrl.setCharacter( data.playingAsSelect )">
      <option ng-repeat="character in $ctrl.characterList" value="{{character}}">{{character.name}}</option>
    </select>
  </form>
  <hr>
<!-- </div> -->
<form name="PlayingAgainst">
	<label for="playingAgainstSelect"> Playing Against Select: </label>
	<select name="playingAgainstSelect" id="playingAgainstSelect" ng-model="data.playingAgainstSelect" ng-change="$ctrl.setCharacterVs( data.playingAgainstSelect )">
		<option ng-repeat="character in $ctrl.characterList" value="{{character}}">{{character.name}}</option>
	</select>
</form>
<hr>


<tt>Playing As = {{data.playingAsSelect}}</tt><br/>
<tt>Playing  = {{data.playingAgainstSelect}}</tt><br/>
